body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(214,255,190);
}
/*Navbar*/

/*cabeçalho, rodapé*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo img{
    width: 100px;
    margin-top: 8px;
    justify-self: start;
}
.menu{
    display: flex;
    gap: 25px;
    justify-items: center;
    position: absolute;
    left: 38%;
}

.menu a{
    color: white;
    font-weight: bold;
}

header{
    background-color: #168a06;
    color: white;
    text-align: center;
    max-height: 90px;
}

.botoes-login{
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.entrar, .cadastrar{
    padding: 8px 16px;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    background-color: #0a5500;
    margin-right: 10px;
}





/*footer*/

footer{
    background-color: #168a06;
    color: white;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0;

}

.footer-content > div{
    margin: 5px;
}
/*Login e Cadastro*/
.modal {
    display: none;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    background-color: #168a06;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px #0004;
}

#login:target,
#cadastro:target {
    display: block;
}

.form-box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-box input,
.form-box textarea,
.form-box button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.form-box button {
    background-color: #0a5500;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.fechar {
    text-align: center;
    margin-top: 10px;
    color: white;
    text-decoration: underline;
}