*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(214, 255, 190);
    height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo img{
    width: 100px;
    margin-top: 8px;
    justify-self: start;
}
.menu{
    display: flex;
    gap: 25px;
    justify-items: center;
    position: absolute;
    left: 38%;
}

.menu a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header{
    background-color: #168a06;
    color: white;
    text-align: center;
    max-height: 90px;
}


.botoes-login{
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.botoes-login a{
    text-decoration: none;
}

.entrar, .cadastrar{
    padding: 8px 16px;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    background-color: #0a5500;
    margin-right: 10px;
}

footer{
    background-color: #168a06;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    bottom: 0;
    padding-bottom: 60px;
}

.redes{
    grid-column: 1;
}

footer h3{
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    margin-bottom: 8px;
}

footer a{
    text-decoration: none;
}

footer a p{
    margin-left: 15px;
    color: white;
}

.compras{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 10px;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;

}

.imagem{
    grid-column: 1;
    grid-row: 1;
    width: 430px;
    height: 430px;
    background-color: #0a5500;
    border-radius: 35px;
    margin-top: 80px;
    margin-bottom: 150px;
    display: grid;
    place-items: center;
    margin-left: 15px;
}

.imagemp{
    border-radius: 25px;
    width: 400px;
    height: 400px;
}

.descricao{
    background-color: #0a5500;
    height: 400px;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    border-radius: 20px;
    width: 700px;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-right: 20px;
}

.descricao p{
    color: white;
    margin-top: 25px;
    margin-left: 30px;
    font-size: 22px;
    word-wrap: break-word;
    white-space: normal;
    max-width: 640px;
}

.descricao a{
    text-decoration: none;
}

.descricao a h3{
    color: #0a5500;
    margin-left: 25px;
    margin-top: 15px;
    display: grid;
    align-items: end;
    font-size: 25px;
    background-color: white;
    padding: 2px;
    border-radius: 20px;
    width: 215px;
    text-align: center;
    font-size: 25px;

}



